
.hall-config-panel {
  padding: 20px;
  margin-bottom: 20px;
}

.hall-config-panel__controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.hall-config-panel__controls h6{
  align-self: start;
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  text-align: left;
}

.hall-config-panel__select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #000;
}

.hall-config-panel__dimensions {
  display: flex;
  width: 50%;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.hall-config-panel__dimensions input {
  align-self: stretch;
  outline: 1px #B7B7B7 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  background-color: #fff;
}
.hall-config-panel__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  min-width: 10px;
  max-width: 100px;
}

.hall-config-panel__field label {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.25);
  text-align: left;
}
.hall-config-panel__dimensions span{
  color: #848484;
  font-size: 18px;
  font-family: Consolas;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  padding-top: 25px;
}
.hall-config-panel__field input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
  color:rgba(0, 0, 0, 0.25);
}

.hall-config-panel__field input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.hall-config-panel__apply-btn {
  padding: 10px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hall-config-panel__apply-btn:hover {
  background-color: #2980b9;
}
.hall-config-panel__legend{
  display: flex;
  flex-direction: column;
  align-self: start;
}
.hall-config-panel__grid {
  margin: 20px 0;
  text-align: center;
}

.hall-config-panel__row {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 6px;
}

.hall-config-panel__seat {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.hall-config-panel__seat--standart {
  background-color: #C4C4C4;
  border: #000 1px solid;
}

.hall-config-panel__seat--vip {
  background-color: #0A828A;
}

.hall-config-panel__seat--disabled {
  background-color: #C4C4C4;
  opacity: 0.3;
  cursor: not-allowed;
}

.hall-config-panel__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.hall-config-panel__btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.hall-config-panel__btn--cancel {
  color: #63536C;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
  background-color: #fff;
}

.hall-config-panel__btn--cancel:hover {
  background-color: #7f8c8d;
}

.hall-config-panel__btn--save {
  background-color: #0A828A;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
}

.hall-config-panel__btn--save:hover {
  background-color: #0A828A;
}

.hall-config-panel__btn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.hall-config-container{
 text-align: left;
}
.hall-config-panel__legend__title{
text-align: left;
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  padding-bottom: 5px;
}
.hall-config-panel__legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;

}
.hall-config-panel__legend-text{
  text-align: left;
  color: #848484;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}
.hall-config-panel__legend__hall {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-size: 14px;
  color: #555;
  border: 1px solid #000;
  text-align: center;
}
.hall-config-panel__legend__hall h6 {
  letter-spacing: 15px;
  margin-top: 15px;
}
.hall-config-panel__legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.hall-config-panel__legend-item-title{
  color: #848484;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}
.hall-config-panel__legend-color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.hall-config-panel__legend-color--standart {
  background-color: #C4C4C4;
  border: #000 1px solid;
}

.hall-config-panel__legend-color--vip {
  background-color: #0A828A;
  
}

.hall-config-panel__legend-color--disabled {
  background-color: #C4C4C4;
  opacity: 0.3;
}

.hall-config-panel__hall-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
  
}

.hall-config-panel__hall-btn {
  width: 90px;
  height: 46px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #000;
  box-shadow:  -2px 4px 4px rgba(0, 0, 0, 0.12);
  color: black;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
}

.hall-config-panel__hall-btn:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.hall-config-panel__hall-btn--active {
  background-color: #fff; 
  color: rgb(0, 0, 0);
  box-shadow:  -2px 4px 4px rgba(0, 0, 0, 0.12);
  transform: scale(1.2);
}