.sales-control-panel {
  padding: 20px;
  margin-left: 70px;
}

.sales-control-panel__controls {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  text-align: left;
}

.sales-control-panel__select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.sales-control-panel__status {
  margin-bottom: 20px;
}

.sales-control-panel__status p {
  margin: 0 0 10px;
  font-size: 16px;
}

.sales-control-panel__status-text {
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.sales-control-panel__status-text--open {
  background-color: #d4edda;
  color: #155724;
}

.sales-control-panel__status-text--closed {
  background-color: #f8d7da;
  color: #721c24;
}

.sales-control-panel__btn {
  width: 270px;
  height: 40px;
  padding: 12px;
  background: #16A6AF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
  border: none;

  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
}

.sales-control-panel__btn--open {
  background-color: #0a828A;
  color: white;
}

.sales-control-panel__btn--open:hover {
  background-color: #27ae60;
}

.sales-control-panel__btn--close {
  background-color: #e74c3c;
  color: white;
}

.sales-control-panel__btn--close:hover {
  background-color: #c0392b;
}

.sales-control-panel__info {
  font-size: 14px;
  color: #555;
}

.sales-control-panel__info p {
  margin: 0 0 5px;
  font-weight: 500;
}

.sales-control-panel__info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sales-control-panel__info li {
  padding: 4px 0;
}

.sales-control-panel__hall-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 10px;
}

.sales-control-panel__hall-btn {
  padding: 8px 16px;
  width: 90px;
  height: 46px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #000;
  box-shadow:  -2px 4px 4px rgba(0, 0, 0, 0.12);
  color: black;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
}

.sales-control-panel__hall-btn:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.sales-control-panel__hall-btn--active {
  background-color: #fff; 
  color: rgb(0, 0, 0);
  box-shadow:  -2px 4px 4px rgba(0, 0, 0, 0.12);
  transform: scale(1.2);
}