.seat-selection {
  max-width: 990px;
  /* max-height: 650px; */
  margin: 0px auto;
  background-color: #F1EBE6;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.seat-selection__header {
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 13px;
 text-align: left;
}
.seat-selection__title{
 color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}
.seat-selection__start-seance{
  color: black;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 16px;
  word-wrap: break-word;
}
.seat-selection__hall{
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.seat-selection__hall-map{
  width: 100%;
}

.seat-selection__prices {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: 500;
  color: #27ae60;
  margin: 10px 0;
}

.seat-selection__summary {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 16px;
}

.seat-selection__confirm {
  display: block;
  width: 25%;
  padding: 8px 0;
  background-color: #16A6AF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px auto;
  margin-bottom: 20px;
}
.seat-selection__confirm_qr{
  display: block;
  width: 35%;
  padding: 12px 0;
  background-color: #16A6AF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px auto;
  margin-bottom: 12px;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
}
.seat-selection__ticket-header{
  padding: 0;
  position: relative;
  padding: 25px 15px;
}
.seat-selection__ticket-header span{
  color: #C76F00;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  word-wrap: break-word;
}
.seat-selection__ticket-header h2{
  color: #C76F00;
  padding: 10px;
  position: relative;
}
.seat-selection__ticket-header::after{
  content: '';
  display: block;
  position: absolute;
  background-image: url('./assets/img/ticket-after.png');
  left: 0;
  right: 0;
  bottom: -6px;
  height: 5px;
  background-color: #C76F00;
}
.seat-selection__confirmation::before{
  content: '';
  display: block;
  position: absolute;
  background-image: url('./assets/img/ticket-before.png');
  left: 0;
  right: 0;
  height: 3px;
  top: -3px;
  background-color: #C76F00; 
}

.seat-selection__confirmation::after{
  content: '';
  display: block;
  position: absolute;
  background-image: url('./assets/img/ticket-after.png');
  left: 0;
  right: 0;
  height: 3px;
  background-color: #C76F00;
}
.seat-selection__confirm:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.seat-selection__info{
  padding: 20px 15px;
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}
.seat-selection__footer{
  padding: 20px 15px;
}
.seat-selection__back {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.seat-selection__back:hover {
  background-color: #7f8c8d;
}




.seat-selection__qr-code {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #f9f9f9;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  font-size: 16px;
}

.seat-selection__confirmation{
  text-align: left;
  margin: 1px;
  position: relative;
  padding: 0px;

}
.seat-selection__confirmation p{
  font-size: 16px;
}