.admin-login {
  width: 480px;
  max-width: 90vw;
  padding-bottom: 35px;
  background: rgba(234, 233, 235, 0.95);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  display: flex;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.admin-login__header {
  align-self: stretch;
  height: 57px;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #63536C;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.admin-login__header-text{
  color: white;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
  word-wrap: break-word;
}

.admin-login form {
  align-self: stretch;
  /* height: 167px; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.admin-login label {
  width: 272px;
  height: 52px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.60px;
  display: inline-flex;
}

.admin-login input {
  width: 272px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 8.80px;
  padding-right: 8.80px;
  background: #fff;
  border: 1px solid #d1d1d1;
  color: #333;
}
.form-label__text{
  color: #848484;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
}
.admin-login button {
  width: 189px;
  height: 40px;
  padding-top: 11.20px;
  padding-bottom: 11.90px;
  padding-left: 31.93px;
  padding-right: 31.55px;
  background: #16A6AF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 3px;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  word-wrap: break-word;
  
}

.admin-login button:hover {
  background-color: #16A6AF;
}

.admin-login .error {
  padding: 3px;
  color: red;
  margin-top: 10px;
}