.hall-map {
  display:  flex;
  background-color: #000;
  color: white;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* max-height: 370px; */
  margin-bottom: 20px;
}

.hall-map__title {
  width: 30%;
  margin-bottom: 7px;
}

.hall-map__grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.hall-map__row {
  display: flex;
  gap: 4px;
}

.hall-map__seat {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hall-map__seat--standart {
  background-color: white;
}

.hall-map__seat--vip {
  background-color: #F9953A;
}

.hall-map__seat--taken {
  background-color: #171D24;
}
.hall-map__seat--disabled {
  background-color: #171D24;
}

.hall-map__seat--selected {
  background-color: #25C4CE;
}

.hall-map__legend {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 15px; 
  justify-content: center;
  align-items: center;
  padding: 25px;
  color: white;
  font-size: 14px;
  margin: 0px auto;
  max-width: 500px;
  margin-left: 34%;
}

.hall-map__legend-item {
  display: flex;
  align-items: center;
  gap: 10px;

}

.hall-map__legend-seat {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.hall-map__legend-seat-price{
  color: white;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 16px;
  word-wrap: break-word;
}

.hall-map__legend-seat--standart {
  background-color: white;
}

.hall-map__legend-seat--vip {
  background-color: #F9953A;
}

.hall-map__legend-seat--taken {
  background-color: #171D24;
}

.hall-map__legend-seat--selected {
  background-color: #25C4CE;
}