.hall-map {
  display:  flex;
  background-color: #000;
  color: white;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hall-map__title {
  width: 40%;
  margin-bottom: 10px;
}

.hall-map__grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.hall-map__row {
  display: flex;
  gap: 4px;
}

.hall-map__seat {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hall-map__seat--standart {
  background-color: white;
}

.hall-map__seat--vip {
  background-color: #F9953A;
}

.hall-map__seat--taken {
  background-color: #171D24;
}
.hall-map__seat--disabled {
  background-color: #171D24;
}

.hall-map__seat--selected {
  background-color: #25C4CE;
}

.hall-map__legend {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 15px; 
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 14px;
  margin: 0 auto;
  max-width: 500px;
}

.hall-map__legend-item {
  display: flex;
  align-items: center;
  gap: 10px;

}

.hall-map__legend-seat {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hall-map__legend-seat--standart {
  background-color: white;
}

.hall-map__legend-seat--vip {
  background-color: #F9953A;
}

.hall-map__legend-seat--taken {
  background-color: #171D24;
}

.hall-map__legend-seat--selected {
  background-color: #25C4CE;
}