.hall-session{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hall-session__title {
  margin-bottom: 1px;
  font-weight: 600;
}

.session-list {
  list-style-type: none;
  padding: 0;
}

.session-list li {
  margin-bottom: 5px;
  
}

.session-time {
  list-style: none;
  display: inline-flex;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  gap: 5px;
}

.session-time li {
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}