.hall-session{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hall-session__title {
  color: black;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 17px;
  word-wrap: break-word;
}

.session-list {
  list-style-type: none;
  padding: 0;
}

.session-list li {
  margin-bottom: 7px;
  
}

.session-time {
  list-style: none;
  display: inline-flex;
  padding: 8px 2px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  gap: 5px;
}

.session-time li {
  width: 53px;
  height: 33px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.24);


}