
.movie-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(241, 235, 230, 0.95);
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-content {
  display: flex;
  gap: 1px;
}

.movie-poster {
  width: 125px;
  height: 175px;
  object-fit: cover;
  border-radius: 2px;
}
.after{
  border-style: solid;
  border-color: #393939;
  border-width: 14.4px 0px 0px 6.4px;
  flex-shrink: 0;
  width: 6px;
  height: 14px;
}
.movie-info {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: flex-start;
  gap: 10px;
}
.movie-title {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 18px;
  word-wrap: break-word;
}

.movie-info p {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

.movie-info ul {
  list-style-type: none;
  padding: 0;
}

.hall-sessions {
  display: flex;
  flex-direction: column;
  gap: 3px;
}