
.movie-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(241, 235, 230, 0.95);
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-content {
  display: flex;
  gap: 16px;
}

.movie-poster {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.movie-info {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: flex-start;
}
.movie-info h3 {
  margin: 0;
}

.movie-info p {
  margin: 5px 0;
  color: #666;
  text-align: left;
}

.movie-info ul {
  list-style-type: none;
  padding: 0;
}

.hall-sessions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}